---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx-perthchat2
  namespace: awx
spec:
  admin_user: {{ awx_admin_username }}
  admin_email: {{ awx_admin_email }}
  admin_password_secret: awx-admin-secret
  ingress_type: ingress
  hostname: {{ awx_subdomain }}.{{ awx_base_domain }}
  ingress_tls_secret: tls-awx-ingress
  ingress_annotations: |
    environment: testing