---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: tls-awx-ingress
  namespace: awx
spec:
  secretName: tls-awx-ingress
  commonName: {{ awx_subdomain }}.{{ awx_base_domain }}
  dnsNames:
  - {{ awx_subdomain }}.{{ awx_base_domain }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer